<html>
    <head>
        <title>Details</title>
        <style>
            body{
                color: yellow;
                background-color: black;
                padding-top:200px;
            }
        </style>
    </head>
    <body><center>
            <h1 > Name : {{name}}</h1>
            <h1> Age : {{age}}</h1>
        </center>
    </body>

</html>