<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sarada</title>
</head>
<br>
<style>
    body{
        background-color: rgb(250, 250, 250);
        background-image: url("girl-programmer-character-woman-writer-blogger-site-developer-female-work-computer-freelance-vector-illustration-code-227480261.jpg");
        background-repeat: no-repeat;
        margin-right: 180PX;
        background-attachment: fixed;
        background-position: right bottom;
    }
    h2 {
        color: brown;
        font-style: oblique;
        font-size: 35px;
    }
    h1 {
        color: rgb(13, 102, 38);
       
        font-style: oblique;
    }
    li {
        color:rgb(5, 104, 136);
        font-size: 25px;
    }
    
</style>
<body>
    <h1 align="center" >Malempati Sai Sarada</h1>
    <h1 align="center">&ensp; -Student</h1>
    <h2> About Myself:</h2>
    <p style="color:rgb(5, 104, 136);font: optional; ;font-size:25px;">I'm Sarada Malempati. Currently pursuing B.Tech at Andhra University College Of Engineering For Women. My interests lie in Data Analysis and Machine Learning. I like trying new things and figuring out how they work. I have done small projects like a basic tic-tac-toe game using python, Titanic survival prediction using numpy,pandas e.t.c. </p>
    <h2>Qualities:</h2>
    <ul>
        <li>Dedication</li>
        <li>Open to learn new things</li>
        <li>Team Player</li>
    </ul>
    <h2>Skills:</h2>
    <ol>
        <li>C</li>
        <input type="checkbox" checked="checked" ><input type="checkbox" checked="checked"><input type="checkbox" checked="checked"><input type="checkbox" checked="checked">
        <li>Python</li>
        <input type="checkbox" checked="checked"><input type="checkbox" checked="checked"><input type="checkbox" checked="checked"><input type="checkbox">
        <li>Java</li>
        <input type="checkbox" checked="checked"><input type="checkbox" checked="checked"><input type="checkbox"><input type="checkbox">
        <li>Problem Solving Skills</li>
        <input type="checkbox" checked="checked"><input type="checkbox" checked="checked"><input type="checkbox" checked="checked"><input type="checkbox">
    </ol>
    <br></br>
    <center><button style="font-size: 25px;color: rgb(5, 104, 136);background-color: rgb(135, 235, 198);padding:10px 10px">Endorse</button></center>
</body>
</html>